<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
    <title>道路作成マップ</title>        
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>道路作成</h1>
    <div id="mapContainer">
        <canvas id="mapCanvas" width="800" height="600"></canvas>
        <canvas id="highlightCanvas" width="800" height="600"></canvas>
    </div> 
    <button id="sendDataButton">create road</button>
    <button id="updateMapButton">update map</button>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
</body>